<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if logged_in? %>
      Welcome back <%= current_user.user_name %>!
    <% end %>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
